.our-servise {
    background: #E9E9E9;
    padding: 100px 0;
    clip-path: polygon(0% 0%, 100% 0, 100% 85%, 89% 100%, 0% 100%);
    margin-bottom: 50px;
}

.our-s-title h1, .our-s-title h2, .our-s-title h3 {
    text-align: center;
    text-transform: uppercase;
}

.our-s-title h1 {
    margin-bottom: 40px;
}

.our-s-box {
    display: flex;
    justify-content: space-between;
}

.our-s-box_left, .our-s-box_right {
    width: 48%;
}

.our-s-box_right .our-s-box_item ,.our-s-box_bottom .our-s-box_item {
    border: #bcbaba 1px solid;
    margin-bottom: 20px;
}

.our-s-box_item {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    align-items: flex-start;

}

.our-s-box_item:hover {
    background: var(--color);
    background: #1B1917;
    color: white;
    border: none;
}

.our-s-box_item h1 {
    font-size: 23px;
}

.our-s-box_item p {
    font-size: 16px;
}

.our-s-box_left .our-s-box_item {
    height: 97%;
    width: 100%;
    background: #1B1917;
    color: white;
}

.our-s-box_item h1 {
    text-transform: uppercase;
}

.our-s-box_left .our-s-box_item h1 {
    margin-bottom: 20px;
}

.our-s-box_left .our-s-box_item p {
    color: #DCDCDC;
}

.our-s-box_item_footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    margin-top: 20px;
}

.our-s-box_left .our-s-box_item_footer {
    margin-top: 50%;
}

.our-s-box_item_footer .our-s-box_item_footer_img {
    width: 80px;
    height: 80px;
    background: #fff;
    padding: 20px;
}

.our-s-box_left .our-s-box_item_footer .our-s-box_item_footer_img {
    background: var(--color);
    width: 90px;
    height: 90px;
}

.our-s-box_left .our-s-box_item_footer a {
    color: var(--color);
}

.our-s-box_left .our-s-box_item_footer a::after {
    background: var(--color);
}

.our-s-box_item:hover .our-s-box_item_footer a {
    color: var(--color);
}

.our-s-box_item:hover .our-s-box_item_footer a::after {
    background: var(--color);
}

.our-s-box_item_footer a {
    display: flex;
    align-items: center;
    text-decoration: none;
    grid-gap: 20px;
    position: relative;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.our-s-box_item_footer a::after {
    content: '';
    width: 100%;
    background: black;
    height: 1.5px;
    position: absolute;
    bottom: 0px;
}

.our-s-box_item:hover .our-s-box_item_footer_img {
    background: var(--color);
}


.our-s-box_bottom{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .our-s-box_bottom{
        flex-direction: column;
    }
}
@media screen and (max-width: 800px) {
    .our-s-box_bottom{
        flex-direction: column;
    }
    .our-s-box{
        flex-direction: column;
    }
    .our-s-box_left , .our-s-box_right{
        width: 100%;
        flex-direction: column;
    }
    .our-s-box_left .our-s-box_item{
        height: 400px;
        margin-bottom: 20px;
    }
    .our-s-box_left .our-s-box_item .our-s-box_item_footer{
        margin-top: 10%;
    }
}